@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html{
    scroll-behavior: smooth;
  }
  body{
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    text-transform: uppercase;
    margin: 0;
   
  }
  li{
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  img{
    width: 100%;
  }
  
  
  h1{
    font-size: 3em;
  }
  h2{
    font-size: 2em;
  }
  h3{
    font-size: 1.25em;
  }


  section{
    margin: 8em 0;
  }
 
  .title{
      text-align: center;
      margin-bottom: 30px;
      font-size: 3em;
  }

  img{
    display: block;
  }
  
  
  /*  global classes */
  
  
  .btn{
    padding: 0.5rem 1rem;
     border: 2px solid black;
    cursor: pointer;
  }
  
  
/*giveaway*/





/*card clicked*/
.card-clicked{
    background: rgba(255, 255, 255, 0.9);
    max-height: 100vh;
    min-height: 100vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.card-clicked.active{
  display: flex;
}



.selected-card{
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    max-width: 50%;
    color: white;
    position: relative;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.3);
    
}




.alert-div{
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(54, 189, 110);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5em 0;
 visibility: hidden;
}

.alert-div p, .alert-div i{
  text-transform: uppercase;
  color: white;
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin-right: 6px;
}

.alert-div i{
  transform: translateY(-2px);
}



.selected-img{
    max-width: 100%;
    min-width: 100%;
    height: auto;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}



.selected-card i{
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 2em;
  color: black;
  cursor: pointer;
}


.selected-sneaker{
  overflow: auto;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: -100%;
  z-index: 999;
  transition: 0.5s;
}

.back-container{
  background: black;
  padding: 1.2em;
  position: relative;
}

.back-container i{
  color: white;
  margin-left: 1.5em;
  font-size: 2em;
  cursor: pointer;
}

.image-info-flex{
  max-width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  column-gap: 1.2em;
  margin-top: 4em;
}

.image-info-flex img{
  max-width: 100%;
  height: auto;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.shoe-info-container{
  display: flex;
  justify-content: center;
  
}

.shoe-info{
  margin-left: 2em;
  width: 100%;
}

.sneaker-title{
  font-size: 3em;
}







/*Acual Site CSS//////////////////////////////////////////////////*/
.logo-container{
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  padding: 0.5em 0;
  transform: translateX(-25%);
}




body{
  position: relative;
  font-size: 16px;
}

/*header*/
.site-menu{
  position: fixed;
  top: 0;
  left: -100%;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  width: 70vw;
  z-index: 999;
  padding: 20px;
  font-size: 1rem;
  height: 100vh;
  transition: all 0.5s ease;
}

.site-menu.active{
  left: 0;
}

.exit-container, .links li{
  margin-bottom: 1rem;
  position: relative;
  border-bottom: 1px solid rgb(219, 219, 219);
  padding-bottom: 10px;
  padding-left: 10px;
  color: black;
}

.links li:last-child{
  margin-bottom: 5px;
}


.links a{
  color: black;
}
.menu-socials{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.menu-socials > *{
  text-align: center;
  padding: 20px 0;
  color: black;
  font-weight: bold;
}

.fixed-nav-container{
 z-index: 999;
 width: 100%;
border-bottom: 1px solid white;
}




.nav-container{
  width: 100%;
  background: black;
}



.nav{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
  z-index: 900;
  margin: 0 auto;
  max-width: 90%;
}

.nav > *{
  min-width: 1fr;
  max-width: 1fr;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.nav-social{
  justify-content: flex-start;
}

.lni.lni-menu{
  display: none;
}

.nav-other{
  justify-content: flex-end;
}

.nav-logo{
  display: flex;
  align-items: center;
}

.logo{
  max-width: 80px;
  max-height: 80px;
  height: auto;
}

.nav-logo h3{
  color: white;
  font-size: 2rem;
  margin-left: 6px;
}

.nav i{
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  margin-right: 0.5em;

}
  

.phone-info{
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone-info i{
  margin-right: 0.5em;
}


.nav i:hover{
  transform: scale(1.2);
  transition: 0.3s;
}

.lni.lni-menu{
  display: none;
}

.search-account-login i{
  font-size: 1.2em;
}

.header-slider-container{
  overflow: hidden;
  position: relative;
  height: 80vh;
}

.frame{
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  height: 80vh;
}

.slider-item{
  min-width: 100%;
  min-height: 100%;
 
}

.slider-item:nth-child(1){
  background: url("https://pbs.twimg.com/media/Dw3tBQtXgAApNtA.jpg") no-repeat center/cover;
}

.slider-item:nth-child(2){
  background: url("https://i.pinimg.com/736x/5e/58/f5/5e58f5c86d0571e00a02123e628cc394.jpg") no-repeat center/cover;
}


.slider-item:nth-child(3){
  background: url("https://miro.medium.com/max/1800/1*6O1aV4lmg6q3b9d1kmxKMw@2x.jpeg") no-repeat center/cover;
}


.slider-item:nth-child(4){
  background: url("https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2018%2F11%2Foff-white-nike-air-max-90-black-on-foot-6.jpg?quality=95&w=1170&cbr=1&q=90&fit=max") no-repeat center/cover;
}

.header-info{
  position: sticky;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 3em;
  background: rgba(0, 0, 0, 0.473);
}

.header-info h3{
  color: white;
  font-size: 2.75em;
  text-shadow: 2px 2px rgb(0,0,0);
  max-width: 70%;
}

.dots{
  width: 100px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}




.search-bar-container{
  height: 0px;
  overflow: hidden;
  transition: all 1s;
}



.search-bar{
  width: 100%;
  background: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 5%;
  display: flex;
  transition: all 1s;

}



/*search */

.search-bar input{
  flex-basis: 80%;
  background: transparent;
  padding: 1em 2%;
  border: 1px solid black;
  font-size: 1.25em;
  color: black;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  border-radius: 0px;
}

.search-bar input:focus{
  outline: none;
}

.search-btn{
  border: 1px solid black;
  padding: 1em;
  background: black;
  margin-left: 5px;
}

.search-btn i{
  color: white;
  font-size: 1.85em;
}

.cart-icon-container{
 position: relative;
}

.cart-icon-container span{
  position: absolute;
  top: 0%;
  transform: translateY(-50%);
  right: -0.5em;
  visibility: hidden;
  color: rgb(255, 138, 92);
  font-size: 1.5em;
  font-family: 'Bebas Neue', cursive;
  
}

.cart-icon-container span.active{
  visibility: visible;
}









.cart-size{
  margin-left: 5px;
}



.cart-alert-div{
  background: rgb(189, 54, 54);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em 0;
 visibility: hidden;
}

.cart-alert-div p{
  text-transform: uppercase;
  color: white;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.shop-options{
  margin: 4rem 0;
}

.shop-options-grid{
  margin: 0 auto;
  display: grid;
  max-width: 80%;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1em;
  row-gap: 2em;
}

.shop-option-item{
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: all 0.75s;
}

.shop-option-item.visible{
  opacity: 1;
}



.shop-option-item img{
  max-width: 100%;
  min-width: 100%;
  height: auto;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5em;
}

.shop-option-item a{
  background: transparent;
  color: rgb(30,30,30);
  border: 1px solid rgb(30,30,30);
  padding: 0.5em 1.75em;
  z-index: 99;
  font-size: 1.2em;
  transition: all 0.5s;
}

.shop-option-item a:hover{
  background: black;
  color: white;
}
/*New Release Section*/
.new-release-grid{
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 75%;
  margin: 0 auto;
  position: relative;
}

.new-release-container{
  max-width: 100%;
  overflow: hidden;
}



.slide{
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
}


.slide img{
  display: block;
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

.new-release-info{
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}




/*Shop Section*/
.shop-section-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.6em;
    row-gap: 2.2em;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 2.2em;
}

.card{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    max-width: 100%;
    color: white;
    cursor: pointer;
    position: relative;
    transition: all 0.75s;
    opacity: 0;
    background: rgb(0,0,0);
    border: none;
}

.card.visible{
  opacity: 1;
}

.card h2{
  font-size: 1.4em;
  font-weight: lighter;
}

.card p{
  font-size: 1.05em;
  margin-top: 0.5em;
}


.img{
    max-width: 100%;
    min-width: 100%;
    height: auto;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.info{
  padding: 1rem 0;
}

.info > *{
  margin-left: 10%;
}

.clickable-card{
  z-index: 50;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

}

.card:hover{
  transform: scale(1.05);
}

.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}

.view-more-btn{
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  background: transparent;
  color: rgb(30,30,30);
  border: 1px solid rgb(30,30,30);
  padding: 0.75em 2em;
  z-index: 99;
  font-size: 1.2em;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 2em;
}

.view-more-btn:hover{
  background: black;
  color: white;
}

.loader-container{
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2em 0;
}


.loader-container i{
  font-size: 5em;
  color: #000;
}

.loader-container.active{
  display: flex;

}

.loader-container.active.loader-container i{
  animation: rotateLoader ease 0.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
}

.shop-section-grid2{
  display: none;
}

/*back to top btn*/
.back-to-top-btn{
  background: black;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 1em;
  position: fixed;
  bottom: 4em;
  right: 4em;
  border-radius: 0.5em;
  cursor: pointer;
}

.back-to-top-btn.active{
  display: flex;
}

.back-to-top-btn i{
  font-size: 1.4em;
  color: white;
}





/*new releases section*/
.upcoming-releases-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 2.5em;
  background: black;
}

.upcoming-release-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
  border-bottom: 1px solid rgb(221, 221, 221);
  opacity: 0;
  transition: all 0.75s;
  color: white;
  background: black;
  padding: 1em;
  border-radius: 4px;
}
.upcoming-release-item.visible{
  opacity: 1;
}
.upcoming-release-item .img-container{
  flex-basis: 25%;
  display: block;
}

.img-shadow{
  box-shadow: 0px 0px 5px 0px rgb(224, 224, 224);
}

.upcoming-release-item.img-container img{
  max-width: 100%;
  height: auto;
  display: block;
}

.release-info{
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  max-width: 65%;
  margin: 0 auto;
  
}

.release-info p{
  font-size: 1em;
  line-height: 1.6em;
}

@keyframes rotateLoader {
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
}

/*Media Feed*/

.media-feed, .follow-us{
  background: black;
  color: rgb(255, 255, 255);
  padding: 5em 0;
  margin: 0;
}

.media-feed{
  padding-bottom: 0;
}

.media-feed-grid{
  margin: 0 auto;
  display: grid;
  max-width: 75%;
  background: black;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.75em;
  row-gap: 0.75em;
  padding: 0.75em;
}

.media-img-container{
  max-width: 100%;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.24);
  opacity: 0;
  transition: all 0.75s;
  position: relative;
}

.media-img-container.visible{
  opacity: 1;
}


.media-img-container img{
  max-width: 100%;
  min-width: 100%;
  height: auto;
  max-height: 100%;
}

.media-img-container i{
  position: absolute;
  font-size: 1.5em;
  color: white;
  text-shadow: 1px 1px rgb(0,0,0);
  bottom: 1em;
  right: 1em;
}

/*Follow Us*/
.follow-us{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(95, 95, 95);
  margin-bottom: 40px;
}

.follow-us h2{
  margin-bottom: 1em;
}

.follow-us i{
 font-size: 3em;
 margin-right: 0.5em;
}

.follow-us i:last-child{
  margin-right: 0;
 }
 
 
 
 /*Selected Shoe Page*/

 .index3-page{
   position: relative;

 }

 .cover{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   min-height: 100vh;
   height: 100%;
   width: 100%;
   background: rgba(0, 0, 0, 0.7);
   z-index: 99;
   display: none;
 }

 .selected-shoe-section{
   margin: 0 auto;
   max-width: 80%;
   display: grid;
   grid-template-columns: 1.2fr 1fr;
   margin-top: 3em;
   column-gap: 2em;
   row-gap: 1.5em;
 }

 .selected-shoe-container{
   max-width: 100%;
  
   
 }

 .selected-shoe-container img{
    max-width: 100%;
    height: auto;
    box-shadow: 0px 0px 5px 0px rgb(224, 224, 224);
    
 }

 .selected-shoe-content .shoe-name{
   position: relative;
   margin-bottom: 1em;
   font-size: 2.5em;
 }

 .selected-shoe-content .shoe-name::after{
   content: '';
   position: absolute;
   bottom: -0.5em;
   left: 0;
   width: 100%;
   height: 1px;
   background: rgba(0, 0, 0, 0.15);
 }

 .price{
   font-size: 1.75em;
 }

 .size-section{
   margin: 1em 0;
 }

 .selected-size{
   font-size: 1.2em;
   margin-bottom: 10px;
 } 

 .selected-size span{
   margin-left: 8px;
 }

 .size-select{
   display: grid;
   grid-template-columns: repeat(5, 60px);
   column-gap: 0.5em;
   row-gap: 0.5em;
 }

 .size{
  border: 1px solid black;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
  font-size: 1rem;
 }


 .size:hover{
   background: black;
   color: white;
 }

 .size.active{
  background: black;
  color: white;
 }

 
.add-to-cart-btn{
  font-family: 'Bebas Neue', cursive;
  background: transparent;
  color: rgb(30,30,30);
  border: 1px solid rgb(30,30,30);
  padding: 0.75em 2em;
  z-index: 999;
  font-size: 1.2em;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 2em;
}

.add-to-cart-btn:hover{
  background: black;
  color: white;
}

.shopping-cart{
  position: absolute;
  top: 0;
  right: -100%;
  background: rgb(250, 250, 250);
  min-height: 100vh;
  height: 100%;
  width: 40vw;
  transition: 0.5s;
  z-index: 999;
}

.shopping-cart.active{
  right: 0;
}

.cart-title-exit{
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 10%;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.cart-title-exit h3{
  font-size: 1.75em;
}

.cart-title-exit i{
  font-size: 1.4em;
  cursor: pointer;
}

.cart-item{
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr;
  margin-bottom: 1em;
  margin-top: 1em;
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 1em 0;
}

.cart-item > *{
  max-width: 100%;
  min-width: 100%;
}

.cart-img-container img{
  max-width: 100%;
  height: auto;
}

.cart-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1px solid red
 
}
.cart-info > *{
  padding-left: 2em;
}
.exit-price{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.exit-price i{
  cursor: pointer;
}

.exit-price p{
  font-size: 1.3em;
}


@media(max-width: 1024px){
  body{
    font-size: 12px;
  }

  .logo{
    max-width: 60px;
    max-height: 60px;
    height: auto;
  }
  
  .nav-logo h3{
    color: white;
    font-size: 1.5rem;
    margin-left: 6px;
  }

  .shopping-cart{
    font-size: 16px;
  }
  
  .frame{
    height: 75vh;
  }

  .shopping-cart{
    width: 50vw;
  }
  


}


@media(max-width: 768px){

  

 
 .logo-container img{
  max-width: 60px;
}

.logo-container h3{
  font-size: 1.2em;
}


 .search-account-login{
   display: flex;
   justify-content: flex-end;
   align-items: center;
 }

 .nav-social i{
  display: none;
}


 .lni.lni-menu{
  display: block;
}

.logo{
  max-width: 50px;
  max-height: 50px;
  height: auto;
}

.nav-logo h3{
  color: white;
  font-size: 0.85rem;
  margin-left: 6px;
}

  .shop-options-grid{
    grid-template-columns: repeat(2, 1fr);
  }


  .shop-section-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 85%;
    row-gap: 35px;
    margin: 0 auto;
}

.info{
  padding: 12px 0;
}


.card h2{
  font-size: 1rem;
  font-weight: lighter;
}

.card p{
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.image-info-flex{
  max-width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1.2em;
  row-gap: 2.4em;
  margin-top: 4em;
  margin-bottom: 4em;
}


.selected-card{
  max-width: 75%;
}

.shop-section-grid2{
  display: none;
}

.upcoming-release-item{
  flex-direction: column;
  
}

.upcoming-release-item .img-container{
  margin-bottom: 2em;
}

.release-info{
  max-width: 90%;
  flex-basis: 100%;
}

.media-feed-grid{
  grid-template-columns: repeat(2, 1fr);
  max-width: 85%;
}


.selected-shoe-section{
  grid-template-columns: 1fr;
}
.shopping-cart{
 
  width: 100vw;
}


}




@media(max-width: 590px){
  .header-slider-container, .frame{
    height: 50vh;
  }

  .shop-options{
    margin: 1rem 0;
  }

  .nav{
    grid-template-columns: 0.25fr 1fr 0.4fr;
  }


  
  .shopping-cart{
    font-size: 13px;
  }

  
  .frame{
    height: 50vh;
  }
 

  .shopping-cart-item{
    width: 85%;
  }

  .shop-section-grid{
    margin-bottom: 2.2em;
  }

  .shop-section h2{
    font-size: 1rem;
  }

  .shop-options-grid{
    grid-template-columns: 1fr;
    max-width: 100%;
    row-gap: 5px;
    padding: 10px;
    margin: 0 auto;
  }

  .shop-section-grid{ 
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    column-gap: 5px;
    row-gap: 5px;
    padding: 5px;
    margin: 0 auto;
}

.info{
  padding: 12px 0;
}


.card h2{
  font-size: 0.85rem;
  font-weight: lighter;
}

.card p{
  font-size: 0.5rem;
  margin-top: 0.5rem;
}

.media-feed-grid{
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
    column-gap: 2px;
    row-gap: 2px;
    padding: 2px;
    margin: 0 auto;
}

.media-feed-grid{
  padding: 10px;
}

.shop-options-grid{
  row-gap: 20px;
}

.card{
  border: 1px solid white;
}


.card:hover{
  transform: translateY(0px);
}



  .shop-option-item img{
    margin-bottom: 1.5em;
  }

  .shop-option-item a{
    padding: 0.5rem 1.75rem;
    font-size: 1.2em;
  }

  


.nav i{
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 0.5em;

}

.upcoming-release-item{
  margin-bottom: 2rem;
}

.upcoming-releases{
  display: none;/*temporary*/
}

}