@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html{
    scroll-behavior: smooth;
  }
  body{
    font-size: 1rem;
    font-family: 'Bebas Neue', cursive;
    scroll-behavior: smooth;
  }
  li{
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  img{
    width: 100%;
  }
  
  
  h1{
    font-size: 3em;
  }
  h2{
    font-size: 2em;
  }
  h3{
    font-size: 1.25em;
  }

  section{
    margin: 5rem 0;
  }
 
  .title{
      text-align: center;
      margin-bottom: 30px;
      font-size: 3em;
  }
  
  
  /*  global classes */
  
  
  .btn{
    padding: 0.5rem 1rem;
     border: 2px solid black;
    cursor: pointer;
  }
  
  









/*card clicked*/
.card-clicked{
    background: rgba(0, 0, 0, 0.85);
    max-height: 100vh;
    min-height: 100vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.card-clicked.active{
  display: flex;
}



.selected-card{
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    max-width: 50%;
    color: white;
    position: relative;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.2);
    transform: translateY(-10%);
}

.selected-img{
    max-width: 100%;
    min-width: 100%;
    height: auto;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}



.selected-card i{
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 2em;
  color: black;
  cursor: pointer;
}








/*Actual Site CSS*/
body{
  position: relative;
  font-size: 16px;
}

/*header*/
.header{
  height: 80vh;
  width: 100%;
  background: url("headerbg.png") no-repeat center/cover;
  position: relative;
}



.nav{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1.3em 0;
  z-index: 999;
  background: rgb(238, 238, 238);
  border-bottom: 1px solid rgb(207, 206, 206);
  
}

.nav-fixed{
  position: fixed;
  background: rgb(238, 238, 238);
}



.nav i{
  color: white;
  font-size: 2.4em;
  cursor: pointer;
  color: rgb(165, 165, 165);
}
  


.nav i:hover{
  transform: scale(1.2);
  transition: 0.3s;
}

.search-bar-container{
  height: 0px;
  overflow: hidden;
  transition: all 1s;
}


.search-bar-container.active{
  height: 90px;
  transition: all 1s;
}

.search-bar{
  width: 100%;
  background: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 5%;
  display: flex;
  transition: all 1s;
}


.search-bar.active{
  display: flex;
  transition: all 1s;
}


.search-bar input{
  flex-basis: 80%;
  background: transparent;
  padding: 1em 2%;
  border: 1px solid black;
  font-size: 1em;
  color: black;
  text-transform: uppercase;
}

.search-bar input:focus{
  outline: none;
}

.search-btn{
  border: 1px solid black;
  padding: 1em;
  background: black;
  margin-left: 2px;
}

.search-btn i{
  color: white
}


/*New Release Section*/
.new-release-grid{
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 75%;
  margin: 0 auto;
}

.new-release-container{
  max-width: 100%;
  overflow: hidden;
}

.frame{
  display: flex;
  align-items: center;
  transition: all 0.25s ease-in-out;
  border-top-left-radius: 8px;
}

.slide{
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
  border-top-left-radius: 8px;
}


.slide img{
  display: block;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.new-release-info{
  background: black;
  color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}





/*Shop Section*/
.shop-section-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.6em;
    row-gap: 2.2em;
    max-width: 75%;
    margin: 0 auto;
}

.card{
    border-radius: 0.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    max-width: 100%;
    color: white;
    box-shadow: 0px  5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: relative;
    /*opacity: 0;*/
}

.card h2{
  font-size: 1.8em;
}


.img{
    max-width: 100%;
    min-width: 100%;
    height: auto;
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
}

.info{
  padding: 1.2em 0;
}

.clickable-card{
  z-index: 50;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  border-radius: 0.25em;
 
}


@media(max-width: 1024px){
  body{
    font-size: 12px;
  }


}


@media(max-width: 768px){
  .shop-section-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 85%;
    row-gap: 35px;
    margin: 0 auto;
}

.new-release-grid{
  grid-template-columns: 1fr;
}

.new-release-info{
  padding: 1.2em 0;
}

.slide img{
  border-top-right-radius: 0.25em;
  border-bottom-left-radius: 0px;
}


.new-release-info{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 2em 0;

}

.selected-card{
  max-width: 75%;
}



}




@media(max-width: 590px){
  body{
    font-size: 9px;
  }
  .header{
    height: 60vh;
  }

  


  .nav{
   flex-direction: row;
   align-items: center;
   height: 50px;
   width: 100%;
   z-index: 999;
   box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.8);
  
  }

  

  .nav-fixed{
    position: fixed;
    background: rgb(238, 238, 238);
  }

  .nav-fixed.nav i{
    text-shadow: none;
  }




}