@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html{
    scroll-behavior: smooth;
  }
  body{
    font-size: 1rem;
    font-family: 'Bebas Neue', cursive;
    scroll-behavior: smooth;
  }
  li{
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  img{
    width: 100%;
  }
  
  
  h1{
    font-size: 3em;
  }
  h2{
    font-size: 2em;
  }
  h3{
    font-size: 1.25em;
  }

  section{
    margin: 5rem 0;
  }
 
  .title{
      text-align: center;
      margin-bottom: 30px;
      font-size: 3em;
  }
  
  
  /*  global classes */
  
  
  .btn{
    padding: 0.5rem 1rem;
     border: 2px solid black;
    cursor: pointer;
  }
  
  









/*card clicked*/
.card-clicked{
    background: rgba(255, 255, 255, 0.9);
    max-height: 100vh;
    min-height: 100vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.card-clicked.active{
  display: flex;
}



.selected-card{
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    max-width: 50%;
    color: white;
    position: relative;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.3);
    
}

.alert-div{
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(54, 189, 110);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em 0;
 visibility: hidden;
}

.alert-div p, .alert-div i{
  text-transform: uppercase;
  color: white;
  font-size: 1.1rem;
  letter-spacing: 1px;
  margin-right: 6px;
}

.alert-div i{
  transform: translateY(-2px);
}



.selected-img{
    max-width: 100%;
    min-width: 100%;
    height: auto;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}



.selected-card i{
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 2em;
  color: black;
  cursor: pointer;
}

.add-to-cart-btn{
  text-transform: uppercase;
  padding: 0.5em 1.5em;
  margin: 0.8em 0;
  background: transparent;
  color: white;
  border-radius: 0.5em;
  border: 1px solid white;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  font-size: 1.2em;
}






/*Actual Site CSS*/
body{
  position: relative;
  font-size: 16px;
}

/*header*/
.header{
  height: 80vh;
  width: 100%;
  background: url("headerbg.png") no-repeat center/cover;
  position: relative;
}



.nav{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1.3em 0;
  z-index: 999;
  background: rgb(238, 238, 238);
  border-bottom: 1px solid rgb(207, 206, 206);
  
}

.nav-fixed{
  position: fixed;
  background: rgb(238, 238, 238);
}



.nav i{
  color: white;
  font-size: 2.4em;
  cursor: pointer;
  color: rgb(165, 165, 165);
}
  


.nav i:hover{
  transform: scale(1.2);
  transition: 0.3s;
}

.search-bar-container{
  height: 0px;
  overflow: hidden;
  transition: all 1s;
  
}



.search-bar{
  width: 100%;
  background: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 5%;
  display: flex;
  transition: all 1s;

}



/*search */

.search-bar input{
  flex-basis: 80%;
  background: transparent;
  padding: 1em 2%;
  border: 1px solid black;
  font-size: 1.25em;
  color: black;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  border-radius: 0px;
}

.search-bar input:focus{
  outline: none;
}

.search-btn{
  border: 1px solid black;
  padding: 1em;
  background: black;
  margin-left: 5px;
}

.search-btn i{
  color: white;
  font-size: 1.85em;
}

.cart-icon-container{
 position: relative;
}

.cart-icon-container span{
  position: absolute;
  top: 0%;
  transform: translateY(-50%);
  right: -0.5em;
  visibility: hidden;
  color: rgb(255, 203, 92);
  font-size: 1.5em;
  font-family: 'Bebas Neue', cursive;
  
}

.cart-icon-container span.active{
  visibility: visible;
}

.shopping-cart-container{
  /*border: 1px solid red;*/
  background: rgb(238, 238, 238);
  width: 100%;
  font-size: 20px;
}

.shopping-cart{
  padding: 1em 0;
  margin: 0 auto;
  display: none;
  flex-direction: column;
  align-items: center;

}

.shopping-cart.active{
  display: flex;
}

.shopping-cart-item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  margin-bottom: 0.5em;
  border-bottom: 1px solid rgb(197, 197, 197);
  padding: 0.5em;
  position: relative;
 
}

.shopping-cart-item > *{
  width: 25%;
  text-align: center;
  

}

.shopping-cart img{
  max-width: 100px;
  height: auto;
  text-align: left;
  border-radius: 0.3em;
}

.shopping-cart-item h4, .size-div{
  transform: translateX(2em);
}

.shopping-cart-item h4{
  font-size: 0.9em;
}

.size{
  margin-left: 5px;
}

.shopping-cart-item i{
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  transform: translateX(40%);
  font-size: 0.8em;
  cursor: pointer;
}

.cart-alert-div{
  background: rgb(189, 54, 54);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em 0;
 visibility: hidden;
}

.cart-alert-div p{
  text-transform: uppercase;
  color: white;
  font-size: 1.1rem;
  letter-spacing: 1px;
}



/*New Release Section*/
.new-release-grid{
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 75%;
  margin: 0 auto;
  position: relative;
}

.new-release-container{
  max-width: 100%;
  overflow: hidden;
}

.frame{
  display: flex;
  align-items: center;
  transition: all 0.25s ease-in-out;
  border-top-left-radius: 8px;
}

.slide{
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
  border-top-left-radius: 8px;
}


.slide img{
  display: block;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.new-release-info{
  background: black;
  color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.dots{
  position: absolute;
  bottom: -2em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.dots i{
  margin-right: 0.75em;
  color: black;
}



/*Shop Section*/
.shop-section-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.6em;
    row-gap: 2.2em;
    max-width: 75%;
    margin: 0 auto;
}

.card{
    border-radius: 0.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    max-width: 100%;
    color: white;
    box-shadow: 0px  5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: relative;
    /*opacity: 0;*/
}

.card h2{
  font-size: 1.8em;
}


.img{
    max-width: 100%;
    min-width: 100%;
    height: auto;
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
}

.info{
  padding: 1.2em 0;
}

.clickable-card{
  z-index: 50;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  border-radius: 0.25em;
 
}


@media(max-width: 1024px){
  body{
    font-size: 12px;
  }

  .shopping-cart-container{
    font-size: 16px;
  }
  

  


}


@media(max-width: 768px){
  .shop-section-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 85%;
    row-gap: 35px;
    margin: 0 auto;
}

.new-release-grid{
  grid-template-columns: 1fr;
}

.new-release-info{
  padding: 1.2em 0;
}

.slide img{
  border-top-right-radius: 0.25em;
  border-bottom-left-radius: 0px;
}


.new-release-info{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 2em 0;

}

.selected-card{
  max-width: 75%;
}



}




@media(max-width: 590px){
  body{
    font-size: 9px;
  }

  .shopping-cart-container{
    font-size: 13px;
  }

  .shopping-cart img{
    max-width: 70px;
    height: auto;
    text-align: left;
  }

  .header{
    height: 60vh;
  }

  .shopping-cart-item{
    width: 85%;
  }

  


  .nav{
   flex-direction: row;
   align-items: center;
   height: 50px;
   width: 100%;
   z-index: 999;
   box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.8);
  
  }

  

  .nav-fixed{
    position: fixed;
    background: rgb(238, 238, 238);
  }

  .nav-fixed.nav i{
    text-shadow: none;
  }




}